<div class="transcript">
  <div class="transcript__inner">
   {{#each transcript as |m| }}
     <div class="transcript__message">{{m.message}}</div>
   {{/each}}
  </div>
</div>
<video id="video" autoplay="true" ></video>
<canvas id="canvas"></canvas>
