video {
  width: 100%;
  height: 100%;
}

body, html {
  margin: 0;
  padding: 0;
  background: #000;
  font-family: 'Raleway', sans-serif;
}

.transcript {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  color: #fff;
  font-weight: bold;
  font-size: 3rem;
  overflow: hidden;
  pointer-events: none;
}

.transcript__inner {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
}

.transcript__message {
  display: inline-block;
  margin: 0.3rem;
  white-space: nowrap;
  line-height: 1.9rem;
  opacity: 0.5;
}

.transcript__message.transcript__message--isFinal {
  opacity: 0.8;
}

canvas {
  position: fixed;
  top:0;
  z-index: 2;
  width: 100%;
  opacity: 0;
}
#flash {
  position: fixed;
  top:0;
  left: 0;
  z-index: 3;
  background-color: rgba(255,255,255,1);
  width: 100%;
  height: 100%;
  opacity: 0;
}

.flash #flash {
  animation: flash 0.5s;
  animation-fill-mode: backwards;
}

.flash canvas {
  animation: flash 5s;
  animation-fill-mode: backwards;
}

@keyframes flash{
  0% {
    opacity: 1;
  }
  90% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
